@charset "UTF-8";

/* Paleta de cores 
    #8C0436 rosa
    #BACDD9 cinza
    #214001 verde
    #467302 verde claro
    #73463C marrom
*/

/* Modo mobile first */

*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html, body {
    background-color:#214001; 
    height: 100vh;
    width: 100vw;
}

main {
   position:relative;
   width: 100vw;
   height: 100vh; 
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #214001 url(../imagens/gastronomia.jpg) no-repeat;
    background-size: cover;
    background-position: right bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}





